.headerSection{
    background-color: var(--color-gray-0) ;
    max-width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}
.headerContainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}
.headerForm{
    display: flex;
    gap: 1rem;
}
.formSearch{
    border: none;
    color: var(--color-primary);
}


@media (max-width: 600px){
    .headerSection{
        background-color: var(--color-gray-0) ;
        max-width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .headerForm{
        display: none;
    }
    .headerContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
    }

}
